*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0px;
  padding: 0px;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1270px;
  margin: 0px auto;
  font-family: "Be Vietnam Pro", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.filledBtn {
  cursor: pointer;
  padding: 1.2rem 2rem;
  background: #F55556;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.nonFilledBtn {
  cursor: pointer;
  padding: 1.2rem 2rem;
  background: none;
  border: none;
  border-radius: 0.5rem;
  color: black;
  border: 1px solid #F55556;
}

.bgNone {
  background: none !important;
}

@media only screen and (max-width: 992px) {
  .filledBtn, .nonFilledBtn {
    padding: 0.9rem 1rem;
  }
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav {
  justify-content: space-between;
  padding: 25px 0px;
}
.nav .menu ul {
  list-style: none;
  gap: 20px;
}
.nav .menu li a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
.nav .menu li a:hover {
  color: hsl(12, 88%, 59%);
}
.nav .search {
  cursor: pointer;
}
.nav .search img {
  width: 15px;
  height: 15px;
}
.nav .search span {
  padding-left: 0.9rem;
  font-size: 1rem;
}
.nav .cart {
  cursor: pointer;
  position: relative;
}
.nav .cart span {
  height: 24px;
  width: 22px;
  justify-content: center;
  position: absolute;
  top: -20px;
  right: -17px;
  background-color: hsl(12, 88%, 59%);
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
}
.nav .hamburger,
.nav .cross {
  display: none;
  cursor: pointer;
  z-index: 3;
  background-color: white;
  border-radius: 2rem;
}

@media only screen and (min-width: 767px) and (max-width: 1340px) {
  .nav {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 767px) {
  .nav {
    justify-content: space-around;
  }
  .nav .menu {
    display: none;
  }
  .nav .menu.active {
    display: block;
    position: absolute;
  }
  .nav .menu.active .menu-ul {
    position: fixed;
    top: 45%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -45%);
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 4rem;
    height: 100vh;
    width: 100%;
    z-index: 2;
    justify-content: center;
  }
  .nav .menu.active .menu-ul li a {
    color: white;
  }
  .nav .search span {
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
  .nav .hamburger {
    display: block;
  }
}
.hero {
  padding-top: 8rem;
}
.hero .heroLeftSide {
  width: 44%;
}
.hero .heroLeftSide .heroTagLine {
  background: #FDECEC;
  border-radius: 23px;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  align-items: flex-end;
}
.hero .heroLeftSide .heroTagLine span {
  font-size: 0.8rem;
  color: #F55556;
  margin-right: 0.5rem;
}
.hero .heroLeftSide .mainHeading {
  font-size: 64px;
  font-weight: 700;
  color: #2E2E2E;
  margin-bottom: 1.2rem;
}
.hero .heroLeftSide .mainHeading span {
  font-weight: 500;
  color: #F55556;
}
.hero .heroLeftSide .heroSubheading {
  font-size: 20px;
  color: hsl(227, 12%, 61%);
}
.hero .heroLeftSide .heroBtn {
  margin-top: 3rem;
}
.hero .heroLeftSide .heroBtn button:nth-child(2) {
  margin-left: 1.8rem;
}
.hero .heroRightSide {
  width: 56%;
  position: relative;
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .hero {
    padding: 5rem 1rem;
  }
  .hero .heroLeftSide {
    text-align: center;
    margin-bottom: 2rem;
  }
  .hero .heroLeftSide .heroTagLine {
    margin: 10px auto;
  }
  .hero .heroLeftSide .mainHeading {
    font-size: 25px;
  }
  .hero .heroLeftSide .heroSubheading {
    font-size: 16px;
  }
  .hero .heroLeftSide .heroBtn {
    margin: 2rem auto;
    justify-content: center;
  }
  .hero .heroLeftSide .heroBtn .firstbtn,
  .hero .heroLeftSide .heroBtn .secondbtn {
    padding: 0.5rem 0.9rem;
  }
}
@media only screen and (max-width: 766px) {
  .hero {
    padding: 5rem 1rem;
  }
  .hero .heroSection {
    flex-direction: column;
  }
  .hero .heroLeftSide {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .hero .heroLeftSide .heroTagLine {
    margin: 10px auto;
  }
  .hero .heroLeftSide .mainHeading {
    font-size: 25px;
  }
  .hero .heroLeftSide .heroSubheading {
    font-size: 16px;
  }
  .hero .heroLeftSide .heroBtn {
    margin: 2rem auto;
    justify-content: center;
  }
  .hero .heroLeftSide .heroBtn .firstbtn,
  .hero .heroLeftSide .heroBtn .secondbtn {
    padding: 0.5rem 0.9rem;
  }
  .hero .heroRightSide {
    width: 100%;
  }
}
.serverSection {
  margin-top: 4rem;
  flex-direction: column;
}
.serverSection .serverHeading {
  text-align: center;
  text-transform: capitalize;
  margin: 0px auto;
}
.serverSection .serverHeading p {
  color: #F55556;
  font-size: 1.1rem;
  line-height: 40px;
}
.serverSection .serverHeading h2 {
  color: #2E2E2E;
  width: 50%;
  margin: 0px auto;
  font-size: 2.4rem;
  font-weight: 700;
}
.serverSection .serverCards {
  margin: 4rem 0rem;
  gap: 50px;
  justify-content: center;
}
.serverSection .serverCards .cards {
  width: 30.33%;
  height: 310px;
  flex-direction: column;
  justify-content: center;
}
.serverSection .serverCards .cards img {
  margin: 0px auto;
  height: 90px;
}
.serverSection .serverCards .cards .cardsContent {
  text-align: center;
  width: 70%;
  margin: 0px auto;
}
.serverSection .serverCards .cards .cardsContent .cardHeading {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.serverSection .serverCards .card-orange {
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}
.serverSection .serverCards .card-orange::after {
  content: "";
  position: absolute;
  background-color: #F55556;
  height: 320px;
  width: 100%;
  top: 0px;
  right: -20px;
  border-radius: 0px 20px 20px 20px;
  z-index: -1;
  transform: rotate(-3deg);
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .serverSection {
    padding: 0rem 1rem;
  }
  .serverSection .serverHeading h2 {
    font-size: 1.8rem;
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .serverSection {
    padding: 0rem 1rem;
  }
  .serverSection .serverHeading h2 {
    font-size: 25px;
    width: 90%;
  }
  .serverSection .serverCards {
    display: block !important;
  }
  .serverSection .serverCards .cards {
    width: 90% !important;
    margin: 0px auto;
  }
  .serverSection .serverCards .card-orange::after {
    transform: rotate(0deg);
    border-radius: 20px;
  }
}
.chooseUsSection .chooseUsLeftSide {
  width: 60%;
}
.chooseUsSection .chooseUsRightSide {
  width: 40%;
}
.chooseUsSection .chooseUsRightSide .chooseUsTagline {
  color: #03A66B;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.chooseUsSection .chooseUsRightSide .chooseUsHeading {
  font-size: 40px;
  font-weight: 700;
  color: #2E2E2E;
  margin-bottom: 1rem;
}
.chooseUsSection .chooseUsRightSide .chooseUsDescription {
  font-size: 20px;
  color: hsl(227, 12%, 61%);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .chooseUsSection {
    padding: 0rem 1rem;
  }
  .chooseUsSection .chooseUsRightSide .chooseUsHeading {
    font-size: 1.8rem;
  }
  .chooseUsSection .chooseUsRightSide .chooseUsDescription {
    font-size: 16px;
  }
  .chooseUsSection .chooseUsRightSide button {
    padding: 0.5rem 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .chooseUsSection {
    padding: 0rem 1rem;
    flex-direction: column;
  }
  .chooseUsSection .chooseUsLeftSide {
    width: 100%;
    order: 2;
  }
  .chooseUsSection .chooseUsRightSide {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .chooseUsSection .chooseUsRightSide .chooseUsHeading {
    font-size: 25px;
  }
  .chooseUsSection .chooseUsRightSide .chooseUsDescription {
    font-size: 16px;
  }
  .chooseUsSection .chooseUsRightSide button {
    padding: 0.5rem 0.9rem;
  }
}
.homeSection .homeRightSide {
  width: 60%;
}
.homeSection .homeRightSide img {
  margin-left: auto;
}
.homeSection .homeLeftSide {
  width: 40%;
}
.homeSection .homeLeftSide .homeTagline {
  color: #F9BA45;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.homeSection .homeLeftSide .homeHeading {
  font-size: 40px;
  font-weight: 700;
  color: #2E2E2E;
  margin-bottom: 1rem;
}
.homeSection .homeLeftSide .homeDescription {
  font-size: 20px;
  color: hsl(227, 12%, 61%);
  margin-bottom: 1rem;
}
.homeSection .homeLeftSide button {
  border: 1px solid #F55556;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .homeSection {
    padding: 2rem 1rem;
  }
  .homeSection .homeLeftSide .homeHeading {
    font-size: 1.8rem;
  }
  .homeSection .homeLeftSide .homeDescription {
    font-size: 16px;
  }
  .homeSection .homeLeftSide button {
    padding: 0.5rem 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .homeSection {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .homeSection .homeRightSide {
    width: 100%;
    order: 1;
  }
  .homeSection .homeLeftSide {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .homeSection .homeLeftSide .homeHeading {
    font-size: 25px;
  }
  .homeSection .homeLeftSide .homeDescription {
    font-size: 16px;
  }
  .homeSection .homeLeftSide button {
    padding: 0.5rem 0.9rem;
  }
}
.appStoreSection {
  padding: 2rem 0rem;
}
.appStoreSection .appStoreLeftSide {
  width: 50%;
}
.appStoreSection .appStoreLeftSide img {
  margin: 0px auto;
}
.appStoreSection .appStoreRightSide {
  width: 50%;
}
.appStoreSection .appStoreRightSide .homeTagline {
  color: #F55556;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.appStoreSection .appStoreRightSide .homeHeading {
  font-size: 40px;
  font-weight: 700;
  color: #2E2E2E;
  margin-bottom: 1rem;
}
.appStoreSection .appStoreRightSide .homeDescription {
  font-size: 20px;
  color: hsl(227, 12%, 61%);
  margin-bottom: 1rem;
}
.appStoreSection .appStoreRightSide .ctaStore {
  gap: 52px;
}
.appStoreSection .appStoreRightSide .ctaStore .appStore,
.appStoreSection .appStoreRightSide .ctaStore .playStore {
  border: 1px solid black;
}
.appStoreSection .appStoreRightSide .ctaStore .appStore img,
.appStoreSection .appStoreRightSide .ctaStore .playStore img {
  margin-right: 0.5rem;
  width: 22px;
}
.appStoreSection .appStoreRightSide .ctaStore .appStore span,
.appStoreSection .appStoreRightSide .ctaStore .playStore span {
  font-weight: 700;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .appStoreSection {
    padding: 2rem 1rem;
  }
  .appStoreSection .appStoreLeftSide img {
    width: 200px;
  }
  .appStoreSection .appStoreLeftSide .homeHeading {
    font-size: 1.8rem;
  }
  .appStoreSection .appStoreLeftSide .homeDescription {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .appStoreSection {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .appStoreSection .appStoreLeftSide {
    width: 100%;
    order: 1;
  }
  .appStoreSection .appStoreLeftSide img {
    width: 70px;
  }
  .appStoreSection .appStoreRightSide {
    width: 100%;
    order: 2;
    text-align: center;
    margin-top: 1.2rem;
  }
  .appStoreSection .appStoreRightSide .homeHeading {
    font-size: 25px;
  }
  .appStoreSection .appStoreRightSide .homeDescription {
    font-size: 16px;
  }
  .appStoreSection .appStoreRightSide .ctaStore {
    justify-content: center;
  }
  .appStoreSection .appStoreRightSide .ctaStore .appStore,
  .appStoreSection .appStoreRightSide .ctaStore .playStore {
    padding: 0.5rem 0.9rem;
  }
  .appStoreSection .appStoreRightSide .ctaStore .appStore img,
  .appStoreSection .appStoreRightSide .ctaStore .playStore img {
    height: 20px;
  }
  .appStoreSection .appStoreRightSide .ctaStore .appStore span,
  .appStoreSection .appStoreRightSide .ctaStore .playStore span {
    font-size: 14px;
  }
}
.footerSection {
  padding: 8rem 0rem 2rem 0rem;
  align-items: flex-start;
}
.footerSection .footer1 {
  width: 60%;
}
.footerSection .footer1 img {
  width: 90px;
  margin-bottom: 0.9rem;
}
.footerSection .footer1 p {
  color: hsl(227, 12%, 61%);
}
.footerSection .footerTags {
  width: 100%;
  justify-content: center;
}
.footerSection .footerTags .footer2,
.footerSection .footerTags .footer3 {
  margin-right: 4rem;
}
.footerSection .footerTags ul {
  list-style: none;
}
.footerSection .footerTags ul li {
  color: hsl(227, 12%, 61%);
  margin-top: 0.5rem;
  cursor: pointer;
}
.footerSection p {
  color: hsl(227, 12%, 61%);
  margin-top: 0.5rem;
}

.footerCaption {
  padding: 0rem 0rem 2rem 0rem;
  justify-content: space-between;
}
.footerCaption div {
  color: hsl(227, 12%, 61%);
}

@media only screen and (max-width: 767px) {
  .footerSection {
    padding: 1rem;
    flex-wrap: wrap;
    text-align: center;
  }
  .footerSection .footer1 {
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .footerSection .footerTags {
    flex-direction: row-reverse;
    gap: 30px;
    margin-bottom: 0.5rem;
  }
  .footerSection .footerTags .footer2,
  .footerSection .footerTags .footer3 {
    margin-right: 0rem;
    margin-bottom: 0.9rem;
  }
  .footerSection img {
    margin: 0px auto;
  }
  .footerCaption {
    display: block;
    text-align: center;
  }
  .footerCaption div {
    margin-top: 0.9rem;
  }
}/*# sourceMappingURL=index.css.map */