*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0px;
  padding: 0px;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  height: 150vh;
}

.container {
  max-width: 1270px;
  margin: 0px auto;
  font-family: "Be Vietnam Pro", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  background: #FDECEC;
  z-index: 1;
}

.nav {
  justify-content: space-between;
  padding: 25px 0px;
}
.nav .menu ul {
  list-style: none;
  gap: 20px;
}
.nav .menu li a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
.nav .menu li a:hover {
  color: hsl(12, 88%, 59%);
}
.nav .search {
  cursor: pointer;
}
.nav .search img {
  width: 15px;
  height: 15px;
}
.nav .search span {
  padding-left: 0.9rem;
  font-size: 1rem;
}
.nav .cart {
  cursor: pointer;
  position: relative;
}
.nav .cart span {
  height: 24px;
  width: 22px;
  justify-content: center;
  position: absolute;
  top: -20px;
  right: -17px;
  background-color: hsl(12, 88%, 59%);
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
}
.nav .hamburger,
.nav .cross {
  display: none;
  cursor: pointer;
}

@media only screen and (min-width: 767px) and (max-width: 1340px) {
  .nav {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 767px) {
  .nav {
    justify-content: space-around;
  }
  .nav .menu {
    display: none;
  }
  .nav .menu.active {
    display: block;
  }
  .nav .menu.active .menu-ul {
    position: fixed;
    top: 45%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(182, 182, 182, 0.6);
    padding: 3.8rem;
    border-radius: 1rem;
  }
  .nav .search span {
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
  .nav .hamburger {
    display: block;
  }
}
.hero {
  padding-top: 8rem;
}
.hero .heroLeftSide {
  width: 44%;
}
.hero .heroLeftSide .heroTagLine {
  background: #FDECEC;
  border-radius: 23px;
  width: -moz-max-content;
  width: max-content;
}
.hero .heroLeftSide .heroTagLine span {
  font-size: 0.8rem;
  line-height: 16px;
  color: #F55556;
  align-self: center;
}
.hero .heroLeftSide .mainHeading {
  font-size: 64px;
  font-weight: 700;
  color: #2E2E2E;
  margin-bottom: 1.2rem;
}
.hero .heroLeftSide .mainHeading span {
  color: #F55556;
}
.hero .heroLeftSide .heroSubheading {
  font-size: 20px;
  color: hsl(227, 12%, 61%);
}
.hero .heroLeftSide .heroBtn {
  margin-top: 3rem;
}
.hero .heroLeftSide .heroBtn .firstbtn {
  cursor: pointer;
  padding: 1.2rem 2rem;
  background-color: #F55556;
  border: none;
  border-radius: 0.5rem;
  color: white;
}
.hero .heroLeftSide .heroBtn .secondbtn {
  cursor: pointer;
  padding: 1.2rem 2rem;
  background-color: none;
  border: none;
  border-radius: 0.5rem;
  color: black;
  margin-left: 1.8rem;
  border: 1px solid #F55556;
}
.hero .heroRightSide {
  width: 56%;
  position: relative;
}
.hero .heroRightSide .chef {
  position: absolute;
  right: 100px;
  top: -300px;
}
.hero .heroRightSide .way {
  position: absolute;
  right: 10px;
  top: -110px;
}
.hero .heroRightSide .delivery {
  position: absolute;
  right: 50px;
  top: -150px;
}
.hero .heroRightSide .delivery .deliveryTagline {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1.2rem;
}
.hero .heroRightSide .delivery .deliveryTagline p:last-child {
  font-size: 0.8rem;
  color: hsl(227, 12%, 61%);
}
.hero .heroRightSide .orangeCart {
  position: absolute;
  top: -240px;
  left: 80px;
  text-align: center;
  background-color: #FDECEC;
  border-radius: 12px;
}
.hero .heroRightSide .orangeCart .orangeContent {
  position: relative;
  height: 122px;
}
.hero .heroRightSide .orangeCart .orangeContent .orangeTitle {
  margin: 10px auto;
  font-size: 0.9rem;
}
.hero .heroRightSide .orangeCart .orangeContent .orangeTitle img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 50px;
  height: 4px;
  border-radius: 30px;
}
.hero .heroRightSide .orangeCart .orangeContent p:nth-child(3) {
  font-size: 0.8rem;
  color: hsl(227, 12%, 61%);
}
.hero .heroRightSide .orangeCart .orangeContent .orangeAddCart img {
  position: absolute;
  left: 20px;
  top: 54px;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .hero {
    padding: 5rem 1rem;
  }
  .hero .heroLeftSide {
    text-align: center;
    margin-bottom: 2rem;
  }
  .hero .heroLeftSide .heroTagLine {
    margin: 10px auto;
  }
  .hero .heroLeftSide .mainHeading {
    font-size: 25px;
  }
  .hero .heroLeftSide .heroSubheading {
    font-size: 16px;
  }
  .hero .heroLeftSide .heroBtn {
    margin: 2rem auto;
    justify-content: center;
  }
  .hero .heroLeftSide .heroBtn .firstbtn,
  .hero .heroLeftSide .heroBtn .secondbtn {
    padding: 0.5rem 0.9rem;
  }
  .hero .heroRightSide .chef {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .hero .heroRightSide .chef img {
    width: 45%;
    margin: 0px auto;
  }
  .hero .heroRightSide .way {
    right: 16px;
    top: -4px;
  }
  .hero .heroRightSide .delivery {
    right: 80px;
    top: -40px;
  }
  .hero .heroRightSide .orangeCart {
    position: absolute;
    left: 50px;
    top: 200px;
    margin: 0px auto;
  }
  .hero .heroRightSide .orangeCart img {
    height: 77px;
  }
  .hero .heroRightSide .orangeCart .orangeContent .orangeAddCart img {
    left: 10px;
    top: 78px;
  }
}
@media only screen and (max-width: 766px) {
  .hero {
    padding: 5rem 1rem;
  }
  .hero .heroSection {
    flex-direction: column;
  }
  .hero .heroLeftSide {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .hero .heroLeftSide .heroTagLine {
    margin: 10px auto;
  }
  .hero .heroLeftSide .mainHeading {
    font-size: 25px;
  }
  .hero .heroLeftSide .heroSubheading {
    font-size: 16px;
  }
  .hero .heroLeftSide .heroBtn {
    margin: 2rem auto;
    justify-content: center;
  }
  .hero .heroLeftSide .heroBtn .firstbtn,
  .hero .heroLeftSide .heroBtn .secondbtn {
    padding: 0.5rem 0.9rem;
  }
  .hero .heroRightSide {
    width: 100%;
  }
  .hero .heroRightSide .chef {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .hero .heroRightSide .chef img {
    width: 70%;
    margin: 0px auto;
  }
  .hero .heroRightSide .way {
    right: 0px;
    top: 0px;
  }
  .hero .heroRightSide .delivery {
    right: 50px;
    top: -30px;
  }
  .hero .heroRightSide .orangeCart {
    position: absolute;
    left: 0px;
    top: 300px;
    margin: 0px auto;
  }
}/*# sourceMappingURL=index.css.map */